@model UserDetail

@{
    ViewData["Title"] = "Add a new User ";
}



<div class="container">
    <form id="form" asp-action="Create">
    
         <h3 style="display: inline-block; margin:0px;">Add User Details</h3>
<p class="float-end"><a  asp-action="UserView" class="btn btn-primary">Show User</a></p>
      


    
   

    <div class="input-control">
        <label asp-for="Name" >Name</label>
        <input asp-for="Name" id="name" type="text"/>
        <div class="error"></div>
    </div>

    <br />
    
    <label>
                <input type="radio" value="Male" name="gender" id="Male" />
                <span>Male</span>
                 
            </label>
            <label>
                <div>
                <input type="radio" value="Female" name="gender" id="Female"/>
                <span>Female</span>
                 <div class="error" style="color: #ff3860;  font-size: 13px;  height: 20px; font-weight: 400" ></div>
                </div>
                
                
            </label>


            
    <div class="input-control">
        <label  asp-for="Phone" >Phone</label>
        <input asp-for="Phone" id="phone" type="text"/>
        <div class="error"></div>
    </div>

    <div class="input-control">
        <label  asp-for="Email" >Email</label>
        <input asp-for="Email" id="email" type="text"/>
        <div class="error"></div>
    </div>



    <div class="input-control">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" id="address" type="text"/>
        <div class="error"></div>
    </div>

    <div class="input-control">
        <label asp-for="Nationality">Nationality</label>
        <input  asp-for="Nationality" id="nationality" type="text"/>
        <div class="error"></div>
    </div>

    <div class="input-control">
        <label asp-for="DateOfBirth">Date of Birth</label>
        <input  asp-for="DateOfBirth" id="dateofBirth" type="date" name="dateofBirth" />
        <div class="error"></div>
    </div>


    <div class="input-control">
        <label asp-for="EducationBackground">Education Background</label>
        <input asp-for="EducationBackground" id="educationBackground"  type="text"/>
        <div class="error"></div>
    </div>


        <label asp-for="PreferredModeOfContact">Prefered Mode of Contact</label>
        <div class="input-control">
             <select class="" asp-for="PreferredModeOfContact" id="contact">
            <option value="">Please select</option>
            <option value="none">None</option>
          <option value="phone">Phone</option>
          <option value="mail">Mail</option>
        </select>
       <div class="error" ></div>
    </div>





     <button type="submit" asp-action="Create">Submit</button>
     
    </form>
</div>
